type hal_fingerprint_oppo_compat, hal_fingerprint_oppo_compat, hwservice_manager;

# Allow hal_fingerprint_oppo_compat to find the default_android_hwservice service
allow hal_fingerprint_oppo_compat hal_fingerprint_oppo_compat:hwservice_manager find;

