# for mtkradioex_ims | qc_ril_audio | ims_radio 

type system_app, default_android_service, service_manager;

# Allow system_app to find default_android_service
allow system_app default_android_service:service_manager find;

