# Allow the system_suspend domain to read from sysfs directories
allow system_suspend sysfs:dir read;

# Allow system_suspend to read directories labeled as sysfs_batteryinfo
allow system_suspend sysfs_batteryinfo:dir read;

# Allow system_suspend to read directories labeled as sysfs_usb_nonplat
allow system_suspend sysfs_usb_nonplat:dir read;
